.delegate-page {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
}

.validator-detail {
  section:first-child {
    padding: 20px;
    .top {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      
    .left {
        flex: 1;
        padding: 2px 0;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        strong {
          font-size: 22px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.3px;
          color: #ffffff;
        
        }
        span {
            display: block;
            width: 135px;
            height: 11px;
            white-space: nowrap;
            font-family: 'PingFang SC';
            font-size: 11px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.1px;
            color: #98a2a9;
          }
      }
    }

    .desc {
      margin-top: 17px;
      font-size: 13px;
      font-weight: normal;
      line-height: 1.54;
      letter-spacing: 0.2px;
      color: #777a8c;
    }
  }
}