
.validator {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 41px;
  padding: 15px;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 #00000019;
  background-color: #ffffff;
  text-decoration: none;
  .v-left {
      flex: 1;
      padding: 2px 0;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      strong {
          white-space: nowrap;
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          line-height: 1.07;
          letter-spacing: 0.2px;
          color: #191c1e;
      }
      span {
          display: block;
          width: 135px;
          height: 11px;
          white-space: nowrap;
          font-family: 'PingFang SC';
          font-size: 11px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: 0.1px;
          color: #98a2a9;
        }
  }
  .v-right {
      flex: 1;
      padding: 2px 0;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      strong {
          font-family: 'PingFang SC';
          font-size: 15px;
          font-weight: 500;
          font-style: normal;
          line-height: 1.07;
          letter-spacing: normal;
          text-align: right;
          color: #098de6;
      }
      span {
          display: block;
          font-family: 'PingFang SC';
          font-size: 11px;
          letter-spacing: 0.1px;
          color: #98a2a9;
      }
  }
}