.tx-list {
    // padding: 0 10px;
    .tx-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 68px;
        border-bottom: solid 0.5px #282a3e;
        .i-left {
            span {
                display: block;
                font-family: 'PingFang SC';
                font-size: 15px;
                letter-spacing: 0.2px;
                color: #191C1E;
            }
            i {
                font-family: 'PingFang SC';
                font-size: 12px;
                font-weight: 500;
                font-style: normal;
                letter-spacing: 0.1px;
                color: #63727d;
            }
        }
        .i-right {
            font-family: 'PingFang SC';
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.1px;
            color: #01c6d0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            i {
                font-style: normal;
            }
            &.delegate {
                i {
                    color: #098de6;
                }
            }
            span {
                margin-top: 7px;
                font-size: 11px;
                font-weight: 300;
                letter-spacing: 0.1px;
            }
            &.pending {
                span {
                    color: #777a8c;
                }
            }
            &.failed {
                span {
                    color: #f94a28;
                }
            }
            img {
                width: 11px;
                height: 11px;
                margin-right: 6px;
                animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            }
        }
    }
}
