.account-card {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 8px 0 #00000019;
  .account-top  {
    padding: 15px 20px 25px 20px;
    background-color: #fafbfc;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    background-image: linear-gradient(to top, #535a98, #2a2e5e);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .account-top-address {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      strong {
        margin-bottom: 8px;
        font-size: 15px;
        font-weight: normal;
        letter-spacing: 0;
        color: #ffffff;
      }
      span {
        overflow: hidden;
        font-family: 'PingFang SC';
        font-size: 13px;
        color: #fafbfc;
        opacity: 0.5;
      }
    }
    .account-top-amount {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: right;
      strong {
        margin-bottom: 8px;
        white-space: nowrap;
          font-size: 17px;
          font-weight: bold;
          font-style: normal;
          color: #ffffff;
        }
      span  {
        font-size: 13px;
        font-weight: 300;
        letter-spacing: 0.1px;
        color: #fafbfc;
        opacity: 0.5;
      }
    }
  }
  .account-bottom {
    margin-top: -10px;
    padding: 15px 20px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 2px 8px 0 #00000019;
    background-color: #ffffff;
    .split-line {
      height: 0px;
      margin: 12px 0;
      border-bottom: solid 0.5px #f0f2f8;
    }
    > div  {
      display: flex;
      > div:first-child {
        width: 204px;
      }
    }
    span {
      display: block;
      margin-bottom: 2px;
      font-family: 'PingFang SC';
      font-size: 11px;
      color: #777a8c;
    }
    i {
        font-size: 17px;
        font-style: normal;
        color: #191c1e;
    }
  }
}