.actionsheet {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(#323848, 0.7);
  z-index: 1000;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
}

.wrap {
  width: 100%;
  background: #F7F8F9;
  border-radius: 4px 4px 0px 0px;
  padding: 10px;
  box-sizing: border-box;

  .title {
    font-size: 13px;
    color: #949ea6;
    text-align: center;
    margin: 0;
    padding: 5px 0 15px 0;
  }

  .options {
    margin-bottom: 14px;
    border-radius: 16px;
    background: white;
  }

  .item {
    text-align: center;
    padding: 17px;
    border-bottom: 0.5px solid #e7e7ea;
    &:last-child {
      border-bottom: 0px;
    }
    p {
      margin: 0;
      font-size: 17px;
      color: #098de6;
    }

    &.cancel {
      background: white;
      border-radius: 16px;
      p {
        color: #191c1e;
      }
    }
  }
}
