.home {
  padding: 0px 10px 20px 10px;
}

.divider {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 4px 30px 4px;
  box-sizing: border-box;

  .line {
    height: 0.5px;
    background-color: #272A47;
    width: 40%;
  }

  .line-white {
    height: 0.5px;
    background-color: white;
    opacity: 0.5;
    width: 35%;
  }

  p {
    color: white;
    font-size: 13px;
  }
}

.blocks {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  
  .block-item {
    border-radius: 4px;
    border: solid 0.5px rgba(255, 255, 255, 0.18);
    background-color: #2a2e5e;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 64px;

    span  {
      font-size: 17px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      text-align: center;
      color: #ffffff;
      margin-left: 10px;
    }
  }
}