.form-inner {
  display: flex;
  flex: 1;
  padding: 0px 20px 10px 20px;
  flex-direction: column;
  justify-content: flex-start;
  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    border-radius: 4px;
    border: solid 0.5px #ffffff2c;
    span {
      display: block;
      max-width: 140px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: 20px;
      font-family: 'PingFang SC';
      font-size: 15px;
      color: #ffffff;
    }
    i {
      margin-left: auto;
      font-family: 'PingFang SC';
      font-size: 13px;
      font-style: normal;
      line-height: 1.54;
      letter-spacing: 0.2px;
      color: #777a8c;
    }
    b {
        width: 7px;
        height: 7px;
        margin: -3px 15px 0 12px;
        transform: rotate(-45deg);
        border: solid 1px #c2c8cc;
        border-top: none;
        border-right: none;
    }
  }
  .form-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 10px 0;
    font-family: 'PingFang SC';
    font-size: 13px;
    font-style: normal;
    letter-spacing: 0.2px;
    color: #777a8c;
    span, i {
      padding-right: 4px;
    }
  }
  input {
    -webkit-appearance:none;
    height: 50px;
    margin-top: 13px;
    box-sizing: border-box;
    border-radius: 4px;
    border: solid 0.5px #ffffff2c;
    background-color: #191b31;
    font-family: 'PingFang SC';
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: #98a2a9;
    text-indent: 20px;
    outline: none;
  }
  .form-button {
    -webkit-appearance:none;
    border: none;
    height: 46px;
    margin-top: 15px;
    border-radius: 8px;
    background-color: #098de6;
    font-family: 'PingFang SC';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.3px;
    color: #ffffff;
    outline: none;
    &:disabled {
      background-color: #ddd;
    }
  }
}

.modal-inner {
  header {
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 0.5px solid #e7e7ea;
    font-size: 17px;
    letter-spacing: 0.2px;
    color: #191c1e;
  }

  .split-margin {
    height: 10px;
    background-color: #fafbfc;
  } 

  footer {
    height: 55px;
    margin-bottom: 8px;
    line-height: 55px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.3px;
    color: #191c1e;
  }
}

.delegate-type-list {
  margin-left: 28px;
  li {
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #e7e7ea;
    &:last-child {
      border: none;
    }
    div {
      label {
        display: block;
        font-size: 15px;
        font-weight: 500;
        color: #191c1e;
      }
      span {
        margin-top: 2px;
        font-size: 13px;
        letter-spacing: 0.2px;
        color: #777a8c;
      }
    }
    em {
      margin-right: 19px;
      font-size: 13px;
      font-style: normal;
      letter-spacing: 0.2px;
      color: #777a8c;
      i {
        margin: -2px 0 0 7px;
        display: inline-block;
        width: 7px;
        height: 7px;
        transform: rotate(-135deg);
        border: solid 1px #808995;
        border-top: none;
        border-right: none;
      }
    }
    b {
      margin-left: auto;
      margin-right: 16px;
      color: #098de6;
    }
  }
}

.m-delegations {
  max-height: 50vh;
  min-height: 198px;
  overflow: auto;
  padding: 14px 13px 12px 17px;
  .dl-item {
    position: relative;
    margin-bottom: 12px;
    min-height: 75px;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 #00000019;
    background-color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding-left: 15px;

    > .dl-item-info {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      strong {
        font-weight: normal;
        letter-spacing: 0.2px;
        color: #191c1e;
      }
      i {
        margin-top: 4px;
        font-size: 11px;
        font-style: normal;
        letter-spacing: 0.1px;
        color: #98a2a9;
      }
    }
  }
}