body {
  .drawer {
    top: 80px;
    background-color: rgba(55, 56, 56, 0) !important;

    > div {
      width: 100%;
    }
    .drawer-modal {
      position: absolute;
      top: 0;
    }

    .flag {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
    }
  }
}

.validator-detail-page {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  overflow: auto;
  box-sizing: border-box;
  // -webkit-overflow-scrolling: touch;

  section {
    padding: 20px;
    padding-bottom: 0;

    .title {
      font-size: 13px;
      letter-spacing: 0.2px;
      color: #777a8c;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .desc {
      font-size: 13px;
      font-weight: normal;
      line-height: 1.77;
      letter-spacing: 0.3px;
      color: #ffffff;
    }

    .flexWrap {
      display: flex;
      margin-top: 20px;
      .col {
        flex: 1;
        &.first {
          margin-right: 30px;
        }
        span {
          font-size: 13px;
          font-weight: normal;
          line-height: 1.54;
          letter-spacing: 0.2px;
          color: #777a8c;
        }
        p {
          font-size: 13px;
          font-weight: 500;
          line-height: 1.54;
          letter-spacing: 0.2px;
          color: #ffffff;
          margin: 3px 0 0 0;
          &.emphasize {
            color: #098de6;
          }
        }
      }
    }

  }
  section:first-child {
    .top {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: #191B31;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      text-decoration: none;
      padding: 20px;
    .left {
        flex: 1;
        padding: 2px 0;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        strong {
          font-size: 22px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.3px;
          color: #ffffff;
          img {
            width: 13px;
            height: 13px;
            margin-left: 8px;
          }

        }
        span {
            display: block;
            width: 135px;
            height: 11px;
            white-space: nowrap;
            font-family: 'PingFang SC';
            font-size: 11px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.1px;
            color: #98a2a9;
          }
      }
    }
  }


  .list-area {
    display: flex;
    flex: 1;
    flex-direction: column;
    .delegate-status {
      padding-top: 5px;
      > span {
          margin-left: 10px;
          font-family: 'PingFang SC';
          font-size: 13px;
          letter-spacing: 0.2px;
          color: #777a8c;
      }
      .delegate-status-bottom {
        margin-top:13px;
        height: 70px;
        padding: 0 18px;
        border-radius: 8px;
        border: solid 0.5px #d2d4dd;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > div {
          text-align: center;
          span {
            display: block;
            margin-bottom: 5px;
            font-family: 'PingFang SC';
            font-size: 11px;
            letter-spacing: normal;
            color: #98a2a9;
          }
          i {
            font-size: 15px;
            font-weight: 500;
            font-style: normal;
            letter-spacing: normal;
            color: #098de6;
          }
        }
      }
    }
  }

  .toolbar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    background-color: rgba(25, 27, 49, 0.85);
    .btn {
      flex: 1;
      height: 46px;
      line-height: 46px;
      border-radius: 8px;
      background-color: #098de6;
      font-family: 'PingFang SC';
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0.3px;
      text-align: center;
      color: #ffffff;
      text-decoration: none;
    }

    .toolbar-row {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      background: #FAFBFC;
      // border-top: 0.5px solid #D2D4DD;

      a {
        flex: 1;
        height: 54px;
        line-height: 54px;
        box-sizing: border-box;
        background: #FAFBFC;
        font-size: 13px;
        text-align: center;
        color: #43454F;

        img {
          vertical-align: middle;
        }

        span {
          vertical-align: middle;
          padding-left: 6px;
        }
      }

      .vertical-line {
        height: 18px;
        width: 1px;
        background-color: #D2D4DD;
      }

    }
  }

  .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 4px;
    // border: solid 0.5px rgba(119, 122, 140, 0.39);
    background: #21233A;
    padding: 18px 18px 15px 18px;

    p {
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.2px;
      color: #fff;
    }
    .date {
      display: block;
      margin-top: 4px;
      font-size: 13px;
      font-weight: normal;
      letter-spacing: normal;
      color: #777a8c;
    }
  }

  .advantage {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;
    margin-top: 10px;

    .blocksWrap {
      display: flex;
      flex-direction: row;
      margin-left: 20px;
    }

    .block {
      border-radius: 13.5px;
      border: solid 0.5px #3a3d56;
      padding: 4px 11px;
      margin-right: 10px;

      span {
        font-size: 11px;
        font-weight: 300;
        line-height: 1.82;
        letter-spacing: 0.1px;
        color: #777a8c;
      }
    }
  }
}

.flag {
    padding-top: 6px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 4px 4px 0px 0px;
    > div {
      width: 54px;
      height: 4px;
      background: #EAECF6;
      border-radius: 2px;
    }
  }

.modal-card {
  background-color: #fff;
  padding: 0px 20px 50px 20px;
  margin-top: 0px;
  border-radius: 4px 4px 0px 0px;
  max-height: 100%;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;

  &.draggable {
    position: fixed;
    top: 400px;
    left: 0;
    right: 0;
    z-index: 100;
  }

  &.draggable-source--is-dragging {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &.draggable-mirror {
    width: 100%;
  }


  .card-inner {
    padding-top: 18px;
  }

  .split-line {
    height: 0px;
    margin: 12px 0;
    border-bottom: 0.5px solid #D2D4DD;
  }

  .delegation {
    border-bottom: 0.5px solid #D2D4DD;

    .bottom {
      padding: 15px 0px;
      > div  {
        display: flex;
        > div:first-child {
          width: 204px;
        }
      }
      span {
        display: block;
        font-family: 'PingFang SC';
        font-size: 11px;
        letter-spacing: normal;
        color: #98a2a9;
      }
      i {
        margin-top: 5px;
        font-size: 13px;
        font-style: normal;
        letter-spacing: normal;
        color: #43454f;
      }
    }
  }

  .list-section {
    margin-bottom: 25px;

    .title {
      font-family: PingFangSC;
      font-size: 13px;
      line-height: 22px;
      color: #777A8C;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      > a {
        font-family: 'PingFangSC';
        font-size: 13px;
        color: #098DE6;
      }
    }

  }
}
