.logo {
    padding: 7px;
    width: 26px;
    height: 26px;
    border: solid 0.5px #e6e8eb;
    border-radius: 100%;
    overflow: hidden;
    background-color: #fff;
    img {
        width: 26px;
        height: 26px;
        border-radius: 100%;
    }
    &.default {
        padding: 0;
        width: 40px;
        height: 40px;
        img {
            width: 40px;
            height: 40px;
        }
    }
}
