.validator-rank-badge {
  position: absolute;
  box-sizing: border-box;
  padding: 0 2px;
  top: 5px;
  left: -3px;
  min-width: 20px;
  height: 20px;
  border-radius: 4px;
  background-image: linear-gradient(138deg, #4a6ee2, #098de6);
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}