.vote-page {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.vote-option-icon {
  display: inline-block;
  margin-right: 7px;
  width: 9px;
  height: 9px;
  border: 2px solid #2d3159;
  box-sizing: border-box;
  border-radius: 9px;
  &.v-icon-yes {
    border-color: #6cc8a1;
  }
  &.v-icon-no_with_veto {
    border-color: #f6606e;
  }
  &.v-icon-abstain {
    border-color: #259ae8;
  }
}

.vote-modal-inner {
  padding: 15px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #191c1e;
  .v-modal-title {
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.167143px;
    color: #949ea6;
  }

  .desc {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.3px;
    text-align: center;
    color: #777a8c;
  }
  .buttons {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .button {
    flex: 1;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    &.cancel-button {
      margin-right: 11px;
      color: #098de6;
      background-color: #e6f3fc;
    }
    &.confirm-button {
      color: #ffffff;
      background-color: #098de6;
    }
    &.disable {
      color: #ffffff;
      background-color: #eaecf6;
    }
  }
}

.v-option-list {
  margin-top: 10px;
  background: #ffffff;
  border-radius: 12px;
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 23px;
    padding-right: 18px;
    height: 61px;
    border-bottom: 1px solid #e7e7ea;
    &:last-child {
      border: none;
    }
    img {
      width: 18px;
    }
  }
}

.d-input-wrapper {
  position: relative;
  padding: 15px 0 15px 0;
  input {
    height: 55px;
    width: 100%;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 8px;
    border: none;
    font-family: "PingFang SC";
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    text-indent: 20px;
    padding-left: 0;
    outline: none;
    &::placeholder {
      letter-spacing: 0.167143px;
      color: #c4c9d9;
    }
  }
  .deposit-unit {
    position: absolute;
    right: 10px;
    top: 35px;
    font-size: 14px;
    letter-spacing: 0.167143px;
    color: #949ea6;
  }
}
