.vote-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .water-mark {
    margin: 0 12px -70px 12px;
  }
  .cs-img {
    margin-top: calc(50vh - 300px);
    height: 600px;
    background: url('https://aws-v2-cdn.token.im/cosmos/cosmos.png') no-repeat center center;
  }
  .coming-soon {
    padding-top: 312px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    span {
        display: block;
        font-family: 'PingFang SC';
        font-size: 17px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.47;
        letter-spacing: 0.3px;
        text-align: center;
        color: #373951;
    }
  }
  .bottom {
    display: flex;
    flex: 1;
    background-color: #21233F;
  }
}