.new-campaign {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  .recommend {
    background: #FAFBFC;
    border-radius: 4px 4px 0px 0px;
    padding: 12px 20px;
    span {
      font-size: 13px;
      color: #777A8C;
    }
  }
}
