.entry-list {
    // padding: 0 10px;
    .entry-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 68px;
        border-bottom: 0.5px solid #D2D4DD;
        .i-left {
            span {
                display: block;
                font-family: 'PingFang SC';
                font-size: 15px;
                letter-spacing: 0.2px;
                color: #191C1E;
            }
            i {
                font-family: 'PingFang SC';
                font-size: 12px;
                font-weight: 500;
                font-style: normal;
                letter-spacing: 0.1px;
                color: #777A8C;
            }
        }
    }
}
